
/*
lightest blue #E0EAF7
Dark blue #4A5BA8

lightest purple: #DBDBEE;

Dark green #00A88A
*/


html {
  box-sizing: border-box;
  @-moz-viewport { width: device-width; scale: 1; }
	@-ms-viewport { width: device-width; scale: 1; }
	@-o-viewport { width: device-width; scale: 1; }
	@-webkit-viewport { width: device-width; scale: 1; }
	@viewport { width: device-width; scale: 1; }

	font-family: "arvo", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body { 
	margin: 0;
	background-color: #97C0E6;
}

.masthead {
	background-color: #4A5BA8;
}

.banner {
	padding: 7rem 1rem;
	text-align: center;
	background-color: #E0EAF7;
}

h1, h2, h3, h4{ 
	font-weight: normal;
}

ul {
	list-style-type: none;
}

.definition {
	background-color: #DBDBEE;
}

.brain {
	width: 50%;
}

/*traits styling*/

.left-traits ul li h4 {
  background-color: #4A5BA8;
}

.right-traits ul li h4 {
	background-color: #00A88A;
}

h4 {
	color: #fff;

	display: inline-block;
	padding: 1rem;
	border-radius: 150px;
	border: 3px solid white;
}

/*advice styling*/

#advice {
	border-top: 1rem solid #4A5BA8;
	border-bottom: 1rem solid #4A5BA8;
}

#advice svg {
	width: 30%;
}

